#previewframe {
    border: 0;
}

.browse-file-modal {
    padding-bottom: 0;

    &.common-box {
        .ant-modal-content {
            height: 100%;
        }
    }

    .ant-modal-body {
        padding: 5px;
        height: 100%;
        background-color: #fff;

        .common-box {
            height: 100%;
        }
    }

    .ant-modal-footer {
        background-color: #fff;
    }

    i.anticon.anticon-close.ant-modal-close-icon {
        background-color: #fff;
    }
}