@import '../../../assets/styles/global.scss';

@mixin smallsize {
    font-size: 12px;
}

.latestUpload-box {
    background-color: #fff;
    
    .latestUpload-title {
        padding-left: 20px;

        p {
            margin-bottom: 0;
            line-height: 35px;
        }
    }

    .latestUpload-list {
        .noData {
            padding: 12px;

            img {
                width: 100%;
            }
        }

        .latestUpload-list-item {
            padding: 12px;
            cursor: pointer;

            @include backgroundAnimate(rgba(0,0,0,.03));

            &:not(:last-child) {
                @include bottomBorder;
            }

            .list-item-top {
                display: flex;

                .list-item-icon {
                    flex: 0 0 20px;
                    text-align: left;
                }

                & > span {
                    @include smallsize;
                    display: block;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: 155px;
                    white-space: nowrap;
                }
            }

            .list-item-bottom {
                p {
                    margin-bottom: 0;
                    @include smallsize;
                    text-align: right;
                }
            }
        }
    }
}