@import '../../../assets/styles//global.container.scss';
@import '../../../assets/styles/global.scss';

.search-result-container {
    height: 100%;
    margin-top: 20px;
    background-color: #fff;

    &.animateCss {
        animation: slideInUp 0.5s;
    }

    .search-conditions {
        span {
            cursor: pointer;

            &:hover, &.selected {
                color: $color;
            }
        }

        .search-conditions-item {
            padding: 12px;
            display: block;
            border-bottom: 1px solid $borderBottomColor;
            width: 100%;
            height: 46px;
        }
    }

    .search-result-content {
        padding: 0 24px 24px;

        .source-result-tag {
            margin: 12px;
        }

        .content-items-box {
            cursor: pointer;
            margin-bottom: 24px;

            .content-item {
                @include backgroundAnimate(rgba(0,0,0,.03));
                @include smallsize;
                padding: 12px;
                position: relative;
                overflow: hidden;
                min-height: 167px;

                &:not(:last-child) {
                    border-bottom: 1px solid $borderBottomColor;
                }

                p.content-item-title {
                    font-size: 14px;
                }

                .content-item-other-info {
                    display: flex;

                    img {
                        flex: 0 0 25px;
                        width: 25px;
                        margin-right: 12px;
                        border-radius: 50%;
                    }
                    
                    span {
                        margin-right: 16px;
                        margin-top: 3px;
                    }

                    .contributor, .directory {
                        color: $color;
                    }
                }

                .searchList-operation {
                    position: absolute;
                    background-color: rgba(0,0,0,.7);
                    color: #bbb;
                    height: 100%;
                    top: -300px;
                    right:0;
                    width: 267px;
            
                    .searchList-operation-item {
                        display: inline-block;
                        width: 25%;
                        text-align: center;
                        padding: 0 12px;
                        height: 100%;
            
                        &:hover, &.selected {
                            color: #fff;
                            background-color: #000;
                        }
            
                        .icon-svg {
                            margin-top: 60px;
                            margin-bottom: 5px;
                            font-size: 17px;
                        }
                    }
                }

                &:hover {
                    .searchList-operation {
                        top: 0;
                        right: 0;
                        display: block;
                        animation: bounceInRight 1s;
                    }
                }
            }
        }

        .no-data {
            @include nodata;
        }
    }
}
