@import '../../../assets/styles/global.scss';

@mixin userLayout {
    max-width: 992px;
    min-width: 992px;
}

.global-layout {
    height: 100%;

    .ant-layout-header {
        height: 100px;
        padding: 0;
        background: $userColor;
        line-height: 0;
    }

    .ant-layout-content {
        margin-top: 100px;
        min-height: initial;
    }

    .global-head {
        display: flex;
        @include userLayout;
        margin: 0 auto;
        height: 100%;
        position: relative;

        img.banner-bg {
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
        }

        .global-head-left {
            flex: 0 0 500px;

            img {
                height: 55px;
                margin-top: 22px;
            }
        }

        .global-head-right {
            flex: 1;
            text-align: right;
            padding-top: 26px;

            .link-item {
                padding: 12px;
                margin: 0 5px;
                line-height: 100px;
                color: $userSecondColor;

                &.selected, &:hover {
                    color:#fff;
                    border-bottom: 3px solid #fff;
                }
            }

            .right-menu {
                list-style: none;
                margin-bottom: 0;
                float: right;
                padding-left: 0;
                line-height: 85px;

                .menu-item {
                    padding: 7px 10px;
                    border-radius: 5px;
                    display: inline-block;
                    cursor: pointer;

                    i {
                        font-size: 18px;
                    }

                    .menu-svg-box {
                        .icon-admin-system {
                            font-size: 18px;
                            color: #ddd;
                        }
                    }

                    .user-portrait {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        opacity: 0.9;
                    }

                    &.user {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    .global-body {
        height: 100%;
        @include userLayout;
        margin: 0 auto;

        .expection {
            padding-top: 100px;
        }
    }
}

.global-container-popover-user {
    min-width: 200px;

    ul {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            cursor: pointer;
        }
    }
}