@import '../../../assets/styles//global.scss';

@mixin menuItem {
    li {
        padding: 6px;
        cursor: pointer;
        border-radius: 3px;
        list-style-type:none;

        .svg-head-user {
            margin-right: 10px;
            float: left;
            margin-top: 4px;

            &.icon-switch-account {
                font-size: 18px;
            }
        }

        &:hover {
            background-color: #eee;
        }
    }
}

@mixin adminLayout {
    min-width: 1150px;
}

.admin-layout {
    @include adminLayout;

    img.slide-logo {
        width: 200px;
        padding: 11px 0;
        background-color: #fff;  
    }

    .slide-coantainer {
        .slide-logo-box {
            background-color: #fff;
        }

        .admin-layout-menu {
            li.ant-menu-item {
                background-color: transparent;
                padding-left: 0 !important;
                padding-right: 0 !important;
                margin-bottom: 0;
                margin-top: 1px;

                a.link-item {
                    width: 100%;
                    padding-left: 24px;

                    &.selected,
                    &:hover {
                        background-color: $userColor;
                    }
                }

                &:last-child {
                    a.link-item {
                        margin-bottom: 0px;
                    }
                }
            }
        }

        ul.ant-menu {
            li:first-child {
                margin-top: 0;
            }

            li {
                display: block;

                .svg-icon {
                    color: #fff;
                    font-size: 18px;
                    margin-top: 1px;
                }
            }

            span, a {
                display: inline-block;
            }
        }

        &.collapsed {
            .slide-logo-box {
                img.slide-logo {
                    width: 41px;
                    margin: 0 auto;
                    display: block;
                }
            }

            ul.ant-menu {
                li {
                    margin-bottom: 0;
    
                    a {
                        display: block;
                        height: 100%;
                        width: 100%;
                        float: left;

                        &.link-item {
                            padding-left: 30px;
                        }
                    }
                }
    
                .svg-icon {
                    display: block;
                    height: 40px;
                    line-height: 40px;
                }
            }
        }
    }

    .admin-head-box {
        display: flex;

        .head-left-box {
            flex: 1;

            .trigger, .system-version {
                float: left;
            }

            .trigger {
                margin-top: 25px;
            }

            .system-version {
                margin-left: 24px;
                font-weight: 600;
                font-size: 16px;
                font-family: Microsoft YaHei;
            }
        }

        .head-right-box {
            flex: 0 0 500px;
            padding-right: 24px;
            text-align: right;
    
            &>i.anticon-user {
                font-size: 17px;
            }

            .menu-list {
                float: right;
                margin-right: 24px;

                .quick-menu-item {
                    margin-right: 20px;
                    cursor: pointer;
                    padding: 10px;
                    margin: 13px 5px;
                    float: right;
                    line-height: 20px;
                    border-radius: 3px;
                    background-color: #f0f2f5;

                    .svg-head-user {
                        margin: 3px 8px 0 0;
                        float: left;
                    }

                    &:hover {
                        background-color: #eee;
                    }
                }
            }
    
            .user-portrait {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                opacity: 0.9;
                cursor: pointer;
                float: right;
                margin: 20px 0 0 0;
            }
        }
    }

    .admin-bread-box {
        padding: 24px 24px 0 24px;

        .svg-icon {
            margin-right: 5px;
        }

        .ant-breadcrumb {
            display: inline-block;
        }
    }

    .admin-body {
        padding: 0 24px;
    }

    .admin-foot {
        position: fixed;
        bottom: 0;
        width: calc(100% - 200px);
        padding: 12px;

        &.collapsed {
            width: calc(100% - 80px);
        }
    }
}

.admin-system-user-menulist {
    @include menuItem;
}