@import '../../../assets/styles/global.container.scss';

@mixin box-shadow {
    box-shadow: 0px 2px 8px rgba(0,0,0,0.09);
}

@mixin lightColor {
    color:rgba(0,0,0,0.45);
}

.colleaction-container {
    @include commonContainer;
    height: 100%;
    background-color: transparent;
    margin-top: 0;

    .skeleton-box {
        .skeleton-col {
            background-color: #fff;
            margin-right: 24px;
            border-radius: 5px;
            @include box-shadow;
            @include backgroundAnimate(rgba(0,0,0,.03));
        }
    }

    .collection-item {
        border-radius: 5px;
        font-size: 12px;
        background-color: #fff;
        margin-bottom: 24px;
        margin-top: 24px;
        height: 230px;
        width: 200px;
        cursor: pointer;
        position: relative;
        @include box-shadow;

        .collection-item-top {
            margin-bottom: 12px;
            position: relative;

            label {
                color: #333;
                font-size: 13px;
                font-weight: 600;
                cursor: pointer;
                text-align: center;
                padding-right: 10px;
                display: block;
                min-height: 39px;
                overflow: hidden;
                padding: 12px;
            }

            .file-format-logo {
                width: 65px;
                position: absolute;
                left: -30px;
                top: -25px;
                transform: rotateZ(15deg);
            }

            .collection-item-target {
                height: 105px;
                overflow: hidden;
                background-color: #fff;
                margin-bottom: 12px;
                padding: 12px;
                border-top: 1px solid #ebedf0;
            }
            
            .collection-item-size {
                border-top: 1px solid #ebedf0;
                padding-top: 12px;
                margin-bottom: 0px;
                padding: 12px;
            }
        }

        .collection-item-animate {
            width: 100%;
            display: none;
            position: absolute;
            top: 0;
            left: 0%;
            z-index: 1;
            transition: all 0.4s linear 0s;
            height: 100%;
            background-color: #fff;
            border-radius: 5px;
            overflow: hidden;
            animation: flipInY 1s;

            .collection-item-operation {
                span.see-btn {
                    font-size: 16px;
                    line-height: 30px;
                    margin-top: -4px;
                }

                .download-btn {
                    font-size: 16px;
                    margin-top: -5px;
                }

                span.disCollect-btn {
                    margin-top: -4px;

                    .svg-component {
                        font-size: 15px;
                    }
                }
            }
        }

        &:hover {
            .collection-item-top {
                display: none;
            }

            .collection-item-animate {
                display: block;

                .collection-item-info {
                    padding: 12px;

                    img.material-cover {
                        height: 150px;
                        display: block;
                        margin: 0 auto;
                        margin-top: 12px;
                    }
                }

                .collection-item-operation {
                    background-color: $userColor;
                    height: 45px;
                    color: #fff;
                    text-align: center;
                    line-height: 45px;

                    .hover-span {
                        display: block;
                        line-height: 50px;
                        transition: all .5s ease .1s;

                        &:hover {
                            color:$userColor;
                            background-color: #fff;
                        }
                    }
                }
            }
        }

        .describle {
            @include lightColor;
        }
    }

    .no-data {
        @include nodata;
    }

    .colleaction-bottom {
        @include lightColor;
        text-align: center;
        margin: 48px;

        .can-load-more {
            width: 150px;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
            @include box-shadow;
            padding: 5px 12px;
            margin: 0 auto;
            background-color: #fff;
            @include backgroundAnimate(rgba(0,0,0,.03));
        }
    
        .can-not-load {
            margin-top: 100px;
            margin-bottom: 0;
        }
    }
}
