@import '../../assets/styles/global.container.scss';

.layout-login-box {
   @include layout-login-box;

    img.background-image {
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
    }


    .layout-login-box-head {
        @include layout-login-box-head;
    }

    .user-container-box{
       @include content-container-box;

        .user-login .ant-tabs-bar {
            text-align: center;
        }
    }
}

@media (min-width: 769px) {
    .layout-login-box {
        .login-content-box {
            @include login-content-box;
        }
    }
}

@media (max-width: 768px) {
    .layout-login-box {
        .login-content-box {
            @include login-content-box-midScreen;
            background-color: pink;
        }
    }
}

