@import '../../assets/styles/global.container.scss';

.user-system-login-box {
    height: 100%;
    background: #fff url('../../assets/images/loginBigBg.webp') no-repeat;
    background-size: 100% 100%;

    .user-container-box {
        width: 850px;
        display: block;
        margin: 0 auto;
        margin-top:5%;
    }
}
