@import '../../../assets/styles/global.container.scss';

.user-login {
    .ant-tabs-bar {
        border-bottom: 0px;
    }

    .user-login-form {
       @include login-form;

        p.login-title {
            @include login-title;
        }

        .checkbox-remember {
            // float: left;
        }

        .login-form-forgot {
            float: right;
            color: $userColor;
        }
        
        .login-form-button {
            @include login-form-button;
        }

        .ant-form-explain {
            text-align: left;
        }

        .formItem-item {
            @include login-formItem-item;

            .error-message {
                display: block;
                margin-bottom: 0;
                color: $errorColor;

                &.error-animate {
                    animation: flipInX 2s;
                }
            }
        }

        .has-error {
            @include login-error;
        }

        .other-login-icon {
            font-size: 24px;
            color: rgba(0, 0, 0, 0.2);
            margin-left: 16px;
            vertical-align: middle;
            cursor: pointer;
            transition: color 0.3s;
        
            &:hover {
              color: $userColor;
            }
        }

        .other-login {
            text-align: left;
            margin-top: 24px;
            line-height: 22px;

            a {
                float: right;
                color: $userColor;
            }
        }

        .ant-tabs-nav-scroll {
            text-align: center;
        }
    }
}