@import '../../../../../assets/styles/global.scss';

@mixin contentLayout {
    background-color: #fff;
    border-radius: 5px;
}

@mixin imgLayout {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex: 0 0 50px;
    cursor: pointer;
}

@mixin cardStyle {
    ul.ant-card-actions {
        background-color: transparent;

        li {
            margin: 3px 0;
        }
    }

    .ant-card-body {
        padding: 12px;
    }
}

$iconBgColor: #b2bac2;
$hoverIconBgColor: #6e6e6f;

.book-detail-icon-audio {
    color: $color !important;
}

.book-detail-container {
    margin-top: 24px;

    .lefeAnimate {
        animation: rollIn 1s;
    }

    .rightAnimate {
        animation: slideInUp 1.5s;
    }

    .centerAnimate {
        animation: slideInUp 0.5s;
    }

    .book-detail-breadcrumb {
        margin-bottom: 24px;
    }

    .book-detail-content {
        display: flex;

        .content-left {
            position: relative;
            right: 74px;
            width: 50px;

            ul {
                padding: 0;

                li {
                    list-style: none;
                    margin-bottom: 12px;
                    border-radius: 50%;
                    background-color: #fff;
                    width: 30px;
                    height: 30px;
                    margin-right: 0;
                    display: block;
                    text-align: center;
                    line-height: 30px;
                    cursor: pointer;

                    .icon {
                        color: $iconBgColor;
                        position: relative;

                        &.like {
                            & + span {
                                background-color: $iconBgColor;
                                color: #fff;
                                border-radius: 10px;
                                position: absolute;
                                top: -5px;
                                right: 5px;
                                padding: 5px;
                                font-size: 12px;
                                height: 15px;
                                line-height: 5px;
                            }
                        }
                    }

                    &:hover {
                        .icon {
                            color: $hoverIconBgColor;
                        }
                    }
                }
            }
        }

        .content-center {
            flex: 1;
            @include contentLayout;
            padding: 24px;
            margin-right: 20px;
            margin-left: -50px;

            .center-head {
                display: flex;

                img {
                    @include imgLayout;
                }

                .center-head-right {
                    flex: 1;
                    margin-left: 24px;

                    .book-title {
                        margin-bottom: 5px;
                        font-size: 17px;
                        color: #000;
                    }
                }
            }

            .content {
                .noData {
                    img {
                        width: 350px;
                        margin: 0 auto;
                        display: block;
                    }
                }

                .inner-content {
                    .card-file-item {
                        width: 200px;
                        margin-right: 36px;
                        display: inline-block;
                        margin-bottom: 24px;
                        border-radius: 5px;
                        cursor: pointer;

                        &:hover {
                            animation: pulse 1s;
                        }

                        @include cardStyle;

                        .description {
                            & > div {
                                font-size: 12px;
                            }

                            p {
                                font-size: 12px;
                                margin-bottom: 5px;
                               
                                &.file-name {
                                    font-size: 14px;
                                    color:#666;
                                }

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }

            .bookDetail-pagination {
                
            }
        }

        .content-right {
            flex: 0 0 200px;

            &>.inner {
                @include contentLayout;
            }

            p.title {
                margin-bottom: 0;
                line-height: 35px;
                flex: 1;
                padding-left: 20px;
                border-bottom: 1px solid #f1f1f1;
            }

            .content-right-detail {
                padding: 12px 20px;

                .content-right-detail-top {
                    display: flex;

                    img {
                        @include imgLayout;
                    }

                    p {
                        flex: 1;
                        margin-bottom: 0;
                        color: #72777b;
                        line-height: 50px;
                        padding-left: 12px;
                    }
                }

                .content-right-detail-bottom {
                    margin-top: 12px;

                    p {
                        .icon {
                            background-color: $secondBgColor;
                            border-radius: 50%;
                            padding: 5px;
                            color: $color;
                            margin-right: 8px;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .back-top {
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        width: 35px;
        height: 35px;
        line-height: 35px;
        cursor: pointer;
    }
}