@import '../../assets/styles/global.scss';

.global-layout {
    height: 100%;
    position: relative;
    background: transparent url('../../assets/images/userBg.png') no-repeat fixed top !important;
    background-size: 100% 100% !important;

    .user-bg {
        position: absolute;
        z-index: -1;
        width: 100%;
    }

    .ant-layout-header {
        height: 65px;
        padding: 0;
        // background: #fff;
        line-height: 0;
        background-color: transparent;
    }

    .ant-layout-content {
        margin-top: 65px;
        min-height: initial;
        // background-color: #f0f2f5;
    }

    .ant-layout-footer {
        background: transparent !important;
    }

    .global-head {
        display: flex;
        max-width: 992px;
        margin: 0 auto;
        // background-color: #fff;

        .global-head-left {
            flex: 0 0 500px;
            padding: 15px 0;

            img {
                width: 170px;
                height: 35px;
            }

            .link-item {
                padding: 12px;
                margin: 0 5px;
                color: rgba(0, 0, 0, 0.65);
                border-radius: 5px;

                &.selected, &:hover {
                    // color:#fff;
                    // background-color: $color;
                }
            }
        }

        .global-head-right {
            flex: 1;
            text-align: right;
            padding: 15px 0;

            .search-control {
                width: 270px;
            }

            .right-menu {
                list-style: none;
                margin-bottom: 0;
                float: right;

                .menu-item {
                    padding: 7px 10px;
                    border-radius: 5px;
                    display: inline-block;
                    cursor: pointer;

                    i {
                        font-size: 18px;
                    }

                    &:hover {
                        background-color: #F3F3F3;
                    }

                    .menu-svg-box {
                        .icon-admin-system {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .global-body {
        height: 100%;
        max-width: 992px;
        margin: 0 auto;

        .expection {
            padding-top: 100px;
        }
    }
}

.global-container-popover-user {
    min-width: 200px;

    ul {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            cursor: pointer;
        }
    }
}