@import '../../assets//styles/global.scss';

@mixin childLayout {
    padding: 40px 30px;
    background-color: #fff;
}

.setting-container {
    .setting-head-tabs-box {
        position: fixed;
        width: 100%;
        left: 0;
        top: 65px;
        background-color: #fff;
        height: 45px;
        line-height: 45px;
        border-top: 1px solid #f1f1f1;

        .inner-box {
            @include globalMaxWidth;
            margin: 0 auto;

            .setting-head-tab-item {
                margin-right: 20px;
                cursor: pointer;

                &:hover, &.selected {
                    color: $mainColor;
                }
            }
        }
    }

    .setting-container-content {
        margin-top: 65px;
        border-radius: 5px;
    }
}