@import '../../../assets/styles/global.scss';

.directory-box {
    background-color: #fff;
    min-height: 300px;

    .directory-title {
        display: flex;
        padding: 0 20px;

        p {
            margin-bottom: 0;
            line-height: 35px;
            flex: 1;
        }

        .book-svg {
            flex: 0 0 32px;
            text-align: left;
            font-size: 20px;
            line-height: 35px;
        }
    }

    .directory-menu-box {
        padding: 10px;

        .no-data-img {
            width: 100px;
            display: block;
            margin: 0 auto;
        }

        .no-data-desc {
            text-align: center;
            margin-top: 24px;
            font-size: 12px;
        }
    }
}