@import '../../../assets/styles/global.scss';

.directory-box {
    background-color: #fff;
    min-height: 300px;
    padding: 0 12px 24px;

    .directory-title {
        display: flex;
        padding: 0 8px;

        p {
            margin-bottom: 0;
            line-height: 35px;
            flex: 1;
        }

        .book-svg {
            flex: 0 0 32px;
            text-align: left;
            font-size: 20px;
            line-height: 35px;
        }
    }

    // span.ant-tree-switcher {
    //     background: transparent !important;
    // }

    .directory-menu-box {
        padding: 0 10px 0 3px;

        .no-data-img {
            width: 100px;
            display: block;
            margin: 0 auto;
        }

        .no-data-desc {
            text-align: center;
            margin-top: 24px;
            font-size: 12px;
        }
    }

    .svg-icon-course {
        font-size: 15px !important;
        transform: rotate(90deg) !important;
        float: left;
        margin: 5px;
    }

    .ant-tree-switcher_open {
        .svg-icon-course {
            transform: rotate(0deg) !important;
        }
    }

    .svg-icon-chapter {
        font-size: 15px !important;
        float: left;
        margin: 5px;
    }
}