@import '../../../assets/styles/global.scss';

@mixin filterLayout {
    padding: 13px 10px;
    border-bottom: 1px solid hsla(0,0%,59.2%,.1);
}

@mixin smallsize {
    font-size: 12px;
}

.book-list {
    .filter-box {
        @include smallsize;
        
        .filter-box-type {
            @include filterLayout;
        }
        
        .filter-box-format {
            @include filterLayout;
            
            label {
                margin-right: 12px;
            }

            .ant-radio-group {
                label.ant-radio-wrapper {
                    margin-right: 0;

                    span {
                        @include smallsize;
                    }
                }
            }
        }

        .filter-box-sort {
            @include filterLayout;
            border-bottom: none;

            label {
                margin-right: 12px;
            }
        }

        .filter-item-content {
            display: inline-block;

            span {
                cursor: pointer;

                &.selected {
                    color: $mainColor;
                }
            }

            span.ant-radio-inner {
                width: 13px;
                height: 13px;
                top: -1px;
            }

            .ant-radio-inner:after {
                top: 3px;
                left: 3px;
                width: 5px;
                height: 5px;
            }
        }
    }

    .booklist-container {
        .booklist-item:not(:last-child) {
            @include bottomBorder;
        }

        .booklist-item {
            padding: 12px;
            cursor: pointer;

            @include backgroundAnimate(rgba(0,0,0,.03));

            .booklist-item-top {
                display: flex;

                .booklist-item-top-left {
                    flex: 1;
                    line-height: 30px;

                    span {
                        margin-left: 12px;
                    }
                }

                .booklist-item-top-right {
                    flex: 0 0 210px;
                    margin-top: -5px;
                    
                    & > i.i-rate {
                        font-size: 18px;
                        margin-left: 12px;
                    }

                    .booklist-item-top-right-qrcode {
                        font-size: 16px;
                        margin-left: 12px;
                        cursor: pointer;
                        position: relative;
                    }

                    i.anticon.anticon-star {
                        font-size: 14px;
                    }
                }
            }

            .booklist-item-bottom {
                display: flex;
                margin-top: 12px;

                img {
                    width: 100px;
                    height: 100px;
                    padding-right: 20px;
                    flex: 0 0 120px;
                }

                .booklist-item-bottom-right {
                    flex: 1;

                    & > span.desc {
                        @include smallsize;
                        display: block;
                    }
                    
                    div.booklist-item-bottom-right-detail {
                        margin-top: 12px;
                        @include smallsize;
                    }

                    p.contributor {
                        margin: 12px 0 0 0;
                        @include smallsize;
                    }
                }
            }
        }

        .noData {
            img {
                width: 200px;
                margin: 0 auto;
                display: block;
            }

            p {
                text-align: center;
                @include smallsize;
                margin-top: 24px;
                color: #bbb;
            }
        }
    }

    .booklist-pagination {
        padding: 24px 0;
    }
}
