@import './global.scss';

/** 登录页按钮动画 */
@mixin login-form-button {
    width: 100%;
    margin-top: 12px;
    animation: flipInX 2s;
}

@mixin login-title {
    color: $color;
    font-size: 24px;
    padding-bottom: 8px;
    margin-bottom: 0;
    border-bottom: 1px solid $borderColor;
    animation: bounceInLeft 1s;
}

@mixin login-form {
    margin: 0 auto;
    padding: 24px 35px;
}

@mixin login-error {
    margin-bottom: -12px;

    .formItem-div {
        .input-control {
            input {
                border-color: $errorBorderColor !important;
                color: $errorColor !important;
                background-color: $errorContent !important;

                &::placeholder {
                    color: $errorColor !important;
                }
            }
        }
    }

    .ant-form-explain {
        text-align: right;
        font-size: 12px;
        padding-top: 5px;
    }
}

@mixin login-formItem-item {
    margin: 0 2px 12px;

    &:last-child {
        margin-bottom: 0;
    }

    img.verificationImage {
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .formItem-div {
        .formItem-label {
            color: $color;
            padding-left: 12px;
        }

        .input-control {
            &.userName, &.password {
                input {
                    border-color: $borderColor;
                    border-radius: 25px;
                    color: $color;
                    font-size: 14px;

                    &::placeholder {
                        color: $color;
                    }
                }
            }
        }
    }
}

/** 登录页布局样式 */
@mixin layout-login-box {
    background-size: 100% !important;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
    background-color: #f5f5f5;
    z-index: 9999;
    position: relative;
}

@mixin login-content-box {
    background-color: #fff;
    border-radius: 20px;
    width: 350px;
    position: absolute;
    right: 15%;
    top: 10%;
}

@mixin login-content-box-midScreen {
    background-color: #fff;
    border-radius: 20px;
    width: 350px;
    position: absolute;
    top: 10%;
}

@mixin layout-login-box-head {
    text-align: center;

    img {
        width: 250px;
        margin: 0 auto;
        margin-top: 24px
    }   
}

@mixin content-container-box {
    min-height: 300px;
}

/** 页面布局common样式 */
@mixin commonContainer {
    background-color: #fff;
    border-radius: 5px;
    padding: 24px;
    margin-top: 24px;
    margin-bottom: 50px;

    &.animateCss {
        animation: slideInUp 0.5s;
    }
}

/** 必填项 */
@mixin require {
    &:before {
        display: inline-block;
        margin-right: 4px;
        color: #f5222d;
        font-size: 14px;
        font-family: SimSun, sans-serif;
        line-height: 1;
        content: '*';
    }
}

/** 无数据展示 */
@mixin nodata {
    img {
        width: 300px;
        margin: 0 auto;
        display: block;
    }

    p {
        text-align: center;
        margin-top: 48px;
        margin-bottom: 0;
    }
}